body {
    background: #9d1560;
    display: flex; /* so the content is centered on the viewport */
    justify-content: center;
    align-items: center;
}

article { /* all this is doing is create that gorgeous grid <3 */;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 65px 2.4fr 2fr 0.6fr 2fr 2fr;
    grid-template-rows: 0.7fr 1.05fr 1fr; /* the reason why the values are so specif is to make the botton image fit perfectly */
    grid-template-areas: 
        "hd . t1 . p2 ."
        "hd p1 t1 . p2 p3"
        ". p1 img img img img";
    width: 1200px;
}

#header {
    grid-area: hd;
    margin-top: 6vw;
    font-family: 'Jost', sans-serif;
    color: #b3b312;
    font-size: 32px;
    writing-mode: vertical-lr;
    text-shadow: 2px 0px 0 black;
    position: fixed
}

p, q {
    color: white;
    font-family: 'Markazi Text', serif;
}

#p1 {
    grid-area: p1;
    text-align: justify;
}

#title {
    grid-area: t1;
    font-family: 'Arvo', serif;
    color: #b3b312;
    font-size: 3em;
    text-shadow: 3px 0px 0 black;
}

#p2 {
    grid-area: p2;
    font-size: 0.9em;
    line-height: 0.9em;
    margin-top: 120px;
    margin-right: 60px;
    text-align: justify;
}

#p3 {
    grid-area: p3;
    text-align: justify;
}

#img1 {
    grid-area: img;
    width: 840px;
}

@media all and (min-width: 1460px) {
    article {
        width: 1390px;
        grid-template-columns: 65px 2.1fr 2fr 0.6fr 2fr 2fr;
        grid-template-rows: 0.5fr 1fr 1fr;
    }

    #header {
        margin-top: 4vw;
    }

    #img1 {
        width: 1000px;
        margin-top: -75px;
    }
}
