/* here goes all color and text styling:
    - font families, color and shading;
    - backgrounds;

    infos present on screen-specific stylesheets:
    - text sizing and formatation;
    - margins and paddings;
    - layouts;
     
    (this is done to facilitate maintanance) */

    body {
        background: #9d1560;
    }
    
    h1 {
        font-family: 'Jost', sans-serif;
        color: #b3b312;
        text-shadow: 5px 0px 0 black;
    }
    
    p, q {
        color: white;
        font-family: 'Markazi Text', serif;
    }
    
    #whichworld {
        font-family: 'Arvo', serif;
        color: #b3b312;
        text-shadow: 9px 0px 0 black;
    }
